/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Default styles */
body {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

/* Header styles */
.header {
  width: 100%;
  height: 86px;
  justify-content: space-between;
  padding: 16px 20px; /* Adjusted padding for smaller screens */
  background-color: #0b9586;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 157px;
  height: 54px;
  max-width: 100%; /* Ensure logo is responsive */
}

.navigation {
  display: flex;
  align-items: center; /* Align navigation items vertically centered */
}

.navigation a {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  padding: 8px 20px; /* Adjusted padding for smaller screens */
  margin-right: 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navigation a:hover {
  color: #cccccc;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.call-us {
  font-weight: 400;
}

.phone-number {
  font-weight: 700;
  letter-spacing: 0.94px;
}

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 12px 10px;
  }

  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation {
    margin-top: 10px;
  }

  .navigation a {
    padding: 8px 12px;

    .contact-info {
      margin-top: 10px;
      text-align: left;
    }
  }
}

/************************************************************ section1 ***********************************************************/
.section1 {
  position: relative;
  height: 650px; /* Adjusted height as per specification */
}

.background-image {
  position: absolute;

  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(360deg);
  filter: opacity(0.9);
  background: linear-gradient(
    267.36deg,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0) 18%
  );
}

.content {
  position: relative;
  top: 100px;
  left: 150px;
}

.slider {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.slider-item {
  font-family: "Akazan", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20.95px;
  letter-spacing: 0.94px;
  color: #ffffff;
  margin: 10px;
}

.slider-item:nth-child(2) {
  margin-left: 15px; /* Added margin-left for the second slider item */
}

.slider-line {
  width: 220px; /* Set width as specified */
  height: 5px; /* Set height as specified */
  position: relative;
}

.slider-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff; /* White color */
  border-left: 3.75px solid #ffffff; /* White color border */
}

.slider-line::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #575757; /* #575757 color */
  border-right: 3.75px solid #575757; /* #575757 color border */
}

.section1-content {
  width: 729px; /* Fixed width as specified */
  height: 305px; /* Hug height as specified */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.headline {
  font-weight: 600;
  font-size: 52px;
  line-height: 62.93px;
  letter-spacing: -2%;
}

.subheadline {
  font-family: "Text xl/Semibold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.buttons {
  display: flex;
  gap: 24px;
}

.button,
.accent-button {
  height: 41px; /* Adjusted height as per specification */
  border-radius: 109px;
  padding: 12px 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  letter-spacing: 8%;
  text-align: center;
  border: none;
}

.button {
  background-color: #3cab90; /* Added background color for the first button */
  color: #ffffff;
}

.accent-button {
  width: 208px; /* Adjusted width as per specification */
  background-color: #ffbb1c;
  color: #2a3334;
}
/************************************************************ section2 ***********************************************************/
/* Section 2 */
.section2 {
  height: 712px; /* Adjusted height as per specification */

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* Increased gap between columns */
  padding: 20px 0;
  overflow: hidden; /* Prevent content overflow */
}

/* Section 2 Columns */
.section2-column {
  display: flex;
  flex-direction: column;
}

/* Column 1 */
.section2-column:first-child {
  width: 594px; /* Width as specified */
  height: 476px; /* Height as specified */
  gap: 50px;
}

.headline {
  font-weight: 600;
  font-size: 42px;
  line-height: 50.83px;
  letter-spacing: -2%;
  color: #101828;
  width: 594px; /* Width as specified */
  height: 102px; /* Height as specified */
}

.subheadline {
  font-family: "Text md/Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  width: 594px; /* Width as specified */
  height: 144px; /* Height as specified */
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 30px; /* Height as specified */
}

.step-number {
  width: 32px; /* Width as specified */
  height: 30px; /* Height as specified */
  font-family: "Akazan", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.28px;
  letter-spacing: 4px;
  color: #84bd3a;
}

.step-text {
  font-family: "Text xl/Semibold", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #101828;
  width: 498px; /* Width as specified */
}

/* Column 2 */
.section2-column:last-child {
  width: 469px;
  height: 476px; /* Match the height of the first column */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container {
  width: 100%;
  height: 600px; /* Increased height of the image container */
  border-radius: 12px; /* Radius as specified */
  overflow: hidden;
}

.section2-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 20px; /* Position at the bottom */
  left: -10px; /* Position at the left */
  width: 266px; /* Fixed width as specified */
  height: 208px; /* Height as specified */
  background-color: rgba(
    255,
    187,
    28,
    0.1
  ); /* Adjusted background color with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 12px; /* Radius as specified */
  padding: 24px 30px;
  gap: 28px;
  background-color: #ffbb1c; /* Color as specified */
}

.image-container .overlay {
  opacity: 1; /* Show overlay on hover */
}

.solar-image {
  width: 90px; /* Width as specified */
  height: 90px; /* Height as specified */
}

.text {
  width: 206px; /* Width as specified */
  height: 42px; /* Height as specified */
  font-size: 16px; /* Adjusted font size */
  line-height: 20.95px;
  letter-spacing: 0.94px;
  color: #2a3334; /* Color as specified */
}
/* **************************************************section 3 ******************************************************************/
/* Section 3 */
.section3 {
  height: 505px;
  background-image: url("images/background3.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.section3-content {
  width: 678px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: start;
  margin-left: 100px;
}

.section3-headline {
  width: 100%; /* Full width of the content container */
  height: 51px; /* Fixed height as specified */
  font-weight: 600;
  font-size: 42px;
  line-height: 50.83px;
  letter-spacing: -2%;
  color: #ffffff;
}

.section3-subheadline {
  width: 100%; /* Full width of the content container */
  height: 56px; /* Fixed height as specified */
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.section3-button {
  width: 173px; /* Width to hug content */
  height: 41px; /* Height to hug content */
  padding: 12px 34px; /* Padding as specified */
  border-radius: 109px; /* Radius as specified */
  background-color: #ffbb1c; /* Button background color */
  color: #2a3334; /* Button text color */
  font-size: 16px; /* Adjusted font size */
  font-weight: 500;
  cursor: pointer;
  border: none;
  gap: 10px; /* Gap as specified */
  transition: background-color 0.3s ease;
}

.section3-button:hover {
  background-color: #e6a519; /* Slightly darker shade on hover */
}
